.cart {
  padding: 120px 80px;
  min-height: 100vh;
  display: flex;
  &__items {
    flex-basis: 60%;
  }
  &__item {
    width: 100%;
    padding: 24px;
    margin: 8px 0;
    height: 340px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $mainColor;
  }
  &__itemPhoto {
    height: 300px;
  }
  &__namesWrapper {
    margin-left: 24px;
  }
  &__itemName {
    font-size: 2rem;
    margin: 8px 0;
  }
  &__itemPrice {
    font-size: 1.8rem;
  }
  &__delete {
    font-size: 2rem;
    margin: 8px 0 0 16px;
    padding: 6px;
    color: rgb(197, 12, 12);
    border: 2px solid rgb(197, 12, 12);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      border-color: transparent;
      background-color: rgb(197, 12, 12);
      color: $whiteColor;
      transform: rotate(-360deg);
    }
  }
  // summary
  &__sumPlace {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__sum {
    width: 70%;
    height: 200px;
    border: 1px solid $mainColor;
  }
  &__sumTitle {
    margin: 16px 0;
    text-align: center;
    font-size: 1.8rem;
    color: $mainColor;
  }
  &__sumtext {
    margin: 8px 0 0 16px;
    font-size: 1.5rem;
  }
  &__buyButton {
    margin: 40px 0 0 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 35px;
    font-size: 1.4rem;
    border: 1px solid $mainColor;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $mainColor;
      color: $whiteColor;
    }
  }
}
@media (max-width: 1440px) {
  .cart {
    &__itemPhoto {
      height: 220px;
    }
  }
}
@media (max-width: 1040px) {
  .cart {
    padding: 100px 40px;
    &__item {
      width: 100%;
      padding: 24px;
      margin: 8px 0;
      height: 340px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $mainColor;
    }
    &__itemPhoto {
      height: 220px;
    }
  }
}
@media (max-width: 540px) {
  .cart {
    flex-wrap: wrap;
    &__items {
      flex-basis: 100%;
    }
    &__item {
      justify-content: center;
      padding: 0;
      margin: 24px auto;
      flex-wrap: wrap;
    }
    &__itemPhoto {
      height: auto;
      max-height: 70%;
    }
    &__namesWrapper {
      margin: 0;
      text-align: center;
      flex-basis: 100%;
    }
    &__sumPlace {
      flex-basis: 100%;
    }
  }
}
@media (max-width: 540px) {
  .cart {
    &__itemPhoto {
      max-height: 65%;
    }
  }
}
@media (max-width: 375px) {
  .cart {
    &__itemPhoto {
      max-height: 50%;
    }
  }
}
@media (max-width: 320px) {
  .cart {
    &__itemPhoto {
      max-height: 47%;
    }
  }
}
