.footer {
  margin-top: 160px;
  width: 100vw;
  height: 70px;
  padding-right: 80px;
  background-color: $bgColor;
  text-align: right;
  &__name {
    font-size: 1.5rem;
    line-height: 70px;
  }
}
