// header
.rain {
  text-align: center;
  &__img {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    min-height: 400px;
  }
  &__title {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    color: rgb(228, 228, 228);
  }
  &__button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    font-size: 2rem;
    border: 1px solid $mainColor;
    color: $whiteColor;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: $mainColor;
    }
  }
}
// aboutUs
.aboutUs {
  margin-top: 80px;
  padding: 40px 0;
  width: 70vw;
  height: 390px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  &__photo {
    flex-basis: 55%;
    background-size: cover;
    background-image: url("../images/team.jpg");
  }
  &__describe {
    font-size: 45%;
    text-align: center;
  }
  &__title {
    position: relative;
    font-size: 3rem;
    color: $blackColor;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 28px;
      top: 0;
      left: 40%;
      height: 28px;
      background-color: $mainColor;
      z-index: 1;
      border-radius: 50%;
    }
  }
  &__text {
    margin-top: 24px;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
  }
}
// swiper
.photos {
  padding: 40px 0;
  background-color: rgb(238, 238, 238);
  z-index: -2;
  &__hr {
    width: 55%;
    margin: 40px 0 0 50%;
    transform: translateX(-50%);
  }
}
.swiper-container {
  margin-top: 40px;
  width: 100%;
  padding: 40px 10%;
  height: 440px;
}

.swiper-slide {
  overflow: hidden;
}
.title {
  margin-top: 40px;
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: $blackColor;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    top: 0;
    left: 44%;
    height: 28px;
    background-color: $mainColor;
    z-index: 10;
    border-radius: 50%;
  }
}
// contact
.contact {
  width: 80%;
  padding: 40px 0 0;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  &__title {
    padding: 0 0 24px;
  }
  &__hr {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__socialItem {
    margin-top: 16px;
    font-size: 3.7rem;
    cursor: pointer;
    &:hover {
      color: $mainColor;
    }
    &-text {
      cursor: auto;
      font-size: 2rem;
      &:hover {
        color: $blackColor;
      }
    }
  }
  // form
  &__formTitle {
    margin: 40px 0 24px;
    font-size: 2.3rem;
  }
  &__label {
    font-size: 1.7rem;
  }
  &__input,
  &__textArea {
    padding: 4px 7px;
    margin: 4px 0;
  }
  &__textArea {
    min-width: 70%;
    max-width: 100%;
    min-height: 250px;
  }
  &__submit {
    margin-top: 8px;
    width: 80px;
    height: 35px;
    background-color: transparent;
    border: 1px solid $mainColor;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: $whiteColor;
      background-color: $mainColor;
    }
  }
}
@media (max-width: 1440px) {
  .rain {
    &__title {
      top: 33%;
      font-size: 4rem;
    }
  }
  // aboutUs
  .aboutUs {
    width: 85vw;
    &__photo {
      flex-basis: 85%;
    }
    &__title {
      font-size: 2.8rem;
      &::after {
        left: 36%;
      }
    }
    &__text {
      font-size: 1.5rem;
    }
  }
  // title
  .title {
    &::after {
      left: 42%;
    }
  }
}
@media (max-width: 1040px) {
  // title
  .title {
    &::after {
      left: 39%;
    }
  }
}
@media (max-width: 1039px) {
  // title
  .title {
    &::after {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .rain {
    &__title {
      top: 15%;
    }
    &__button {
      top: 27%;
    }
  }
  // aboutUs
  .aboutUs {
    width: 90vw;
    flex-wrap: wrap;
    min-height: 700px;
    &__photo {
      flex-basis: 100%;
      height: 400px;
    }
    &__title {
      top: -250%;
      font-size: 2.8rem;
      &::after {
        left: 36%;
      }
    }
    &__text {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 540px) {
  .rain {
    &__title {
      font-size: 3.2rem;
    }
    &__button {
      top: 35%;
    }
  }
  // aboutUs
  .aboutUs {
    min-height: 740px;
    &__title {
      top: -200%;
      &::after {
        left: 30%;
      }
    }
  }
}
@media (max-width: 414px) {
  // aboutUs
  .aboutUs {
    &__title {
      top: -160%;
      &::after {
        left: 24%;
      }
    }
  }
}
@media (max-width: 360px) {
  // aboutUs
  .aboutUs {
    min-height: 820px;
    &__title {
      top: -145%;
      &::after {
        left: 19%;
      }
    }
  }
}
@media (max-width: 320px) {
  .rain {
    &__title {
      font-size: 2.7rem;
    }
    &__button {
      top: 39%;
    }
  }
  // aboutUs
  .aboutUs {
    &__title {
      top: -128%;
      &::after {
        left: 19%;
      }
    }
  }
}
