.navigation {
  width: 100vw;
  height: 70px;
  padding: 0 80px;
  position: fixed;
  display: flex;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: rgba(240, 240, 240, 0.55);
  z-index: 100;
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  &__item {
    margin-left: 80px;
    cursor: pointer;
  }
  &__link {
    color: $blackColor;
    &:hover {
      font-weight: bold;
    }
  }
  &__logo {
    width: 50px;
    margin: 10px 160px 0 auto;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__mobile {
    display: none;
  }
  &__list-mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  .navigation {
    padding: 0;
    font-size: 1.9rem;
    &__list {
      width: 100vw;
      justify-content: space-around;
    }
    &__item {
      margin-left: 0;
    }
    &__logo {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .navigation {
    background-color: transparent !important;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    z-index: 10001;
    &__list {
      display: none;
    }
    &__logo {
      display: none;
    }
    &__list-mobile {
      display: block;
      position: fixed;
      transform: translateX(-100%);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $mainColor;
      list-style-type: none;
      z-index: 10000;
    }
    &__item-mobile {
      color: $whiteColor;
      margin-top: 16px;
      font-size: 3.4rem;
    }
    &__link-mobile {
      color: $whiteColor;
    }
    &__btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &-in {
        top: 0;
        right: 0;
        position: absolute;
        margin-right: 40px;
      }
    }
    &__burger {
      width: 50px;
      height: 6px;
      background: $whiteColor;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
      transition: all 0.2s ease-in-out;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background: $whiteColor;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
        transition: all 0.2s ease-in-out;
      }
      &::before {
        transform: translateY(-16px);
      }
      &::after {
        transform: translateY(16px);
      }
    }
    /* ANIMATION */
    &__btn.open &__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    &__btn.open &__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &__btn.open &__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}
@media (max-width: 414px) {
  .navigation {
    padding-right: 40px;
  }
}
