.navigation {
  width: 100vw;
  height: 70px;
  padding: 0 80px;
  position: fixed;
  display: flex;
  font-size: 1.6rem;
  background-color: $bgColor;
  overflow-x: hidden;
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  &__item {
    margin-left: 80px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
  &__logo {
    width: 50px;
    margin: 10px 0 0 auto;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .navigation {
    padding: 0;
    font-size: 1.9rem;
    &__list {
      width: 100vw;
      justify-content: space-around;
    }
    &__item {
      margin-left: 0;
    }
    &__logo {
      display: none;
    }
  }
}
