html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $blackColor;
  text-decoration: none;
}
